@import "./partials/mixins";



body {
    padding: 0;
    background: radial-gradient(circle, rgb(134, 123, 255) 0%, rgb(194, 136, 246) 100%);
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dark {
    position:absolute;
    top: 25px;
    right: -70%;
    @include btnStyle;
}

.dark {
    background: rgb(19,5,190);
    background: radial-gradient(circle, rgba(19,5,190,1) 0%, rgba(87,29,138,1) 68%);
}
.hide {
    display:none;
}

.rotating {
    border-radius: 50%;
    height: 600px;
    width:600px;
    animation: animate 28s linear infinite;
    
    img {
        width: 80px;
        height: 80px;
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translateX(-50%);
        
    }
}

.quiz {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 50%;
    height: 550px;
    width:550px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
 
    100% {
        transform: rotate(359deg);
    }
}



.questionTitle {
    display:flex;
    justify-content: center;
    align-items: center;
    
    h2 {
        width: 70%;
        font-size:26px;
    }

}

.container {
    display:flex;
    justify-content:center;
    align-items:center;
   
    
    .lower-circle {
        display:flex;
        flex-direction:column;
        align-items:center;
        
        #nextAns{
            @include btnStyle;
            height: 30px;
        }

        p {
            font-size: 14px;
            width: 60%;    
        }
    }
     .questionTitle{
        width: 70%;
     }
    .answerSheet {
        display:flex;
        justify-content:center;
        align-items:center;
        gap: 10px;
        
        input[type="button"], button{
            height: 30px;
            @include btnStyle;
        }
    }
    #nextAns {
        margin-top: 8px;
    }
}

.btnStyling {
    @include btnStyle;
}
button {
    @include btnStyle;
}

.print-ans{
    background-color: white;
    box-shadow: 2px 0px 12px black;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    
    p {
        color: black;
        font-size:20px;
    }
}

//So sorry brandon, blev inte mobile first och det såg hemskt ut i mobilvy..
@media (max-width: 425px){
    img {
        top: -7%;
    }

    .quiz {
        top:34%;
    }
}
