.hide {
    display:none;
}


.quiz {
    border: 1px solid black;
    border-radius: 50%;
    height: 550px;
    width:550px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questionTitle {
    display:flex;
    justify-content: center;
    align-items: center;
    
    h2 {
        width: 70%;
    }
}
.container {
    display:flex;
    justify-content:center;
    align-items:center;
    
    .lower-circle {
        display:flex;
        flex-direction:column;
        align-items:center;
        

        p {
            font-size: 12px;
            width: 60%;    
        }

    }

    
     .questionTitle{
        width: 70%;
     }
    .answerSheet {
        display:flex;
        justify-content:center;
        align-items:center;
    }
    #nextAns {
        margin-top: 8px;
    }
    }

